[Desktop Entry]
Type=Application
Name=Legion Linux Toolkit
Exec=/usr/lib/legion-toolkit/legion-tray.py
Icon=computer
Terminal=false
Categories=System;
X-GNOME-Autostart-enabled=true
